/* GLOBAL */
$color-background-global: #262626;
$color-background-main-view: #383838;
$color-font-global: #e5e5e5;

$primary-color: #65ff00;

/* MESSAGE */
$color-message-error: #e74c3c;
$color-message-success: #2ecc71;
$color-message-info: #3498db;
$color-message-warn: #e1be2b;
