@use "index_mixins" as mylib;
/* POSITION */
@mixin center-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-right-block {
  display: flex;
  justify-content: right;
  align-items: center;
}

@mixin center-left-block {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* LINK */
@mixin link-menu {
  color: mylib.$color-font-global;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

/* FONT */
@mixin font-text {
  font-family: BebasNeue, sans-serif
}