$margin-global: 15px;

/* HEADER */
$header-height-size: 15vh;
$header-margin-size: 1rem;

/* menu */
$header-container-button-size-height: 10cqh;
$header-button-size-height: 5cqh;
$header-button-unsize-height: calc(100cqh - 10cqh);
$header-container-button-size-width: 10cqw;
$header-button-size-width: 5cqw;
$header-button-unsize-width: calc(100cqw - 10cqw);

$header-padding-menu: 1px;
$header-border-menu-size: 2px;
$header-border-radius: 5px;
$header-space-between-button-right-group: 15px;

/* logo */
$header-logo-height-size: 95%;
$header-logo-width-size: 50cqw;

/* MAIN */
$main-height-size: 100vh;
$main-border-radius: 25px;

$main-height-folder: 12cqi;
$main-min-height-folder: 150px;
$main-width-folder: 25cqi;

/* FOOTER */
$footer-height-size: 5vh;
