@use "index" as mylib;

/* semantic color variables for this project */
:root {
  background: mylib.$color-background-global;
  color: mylib.$color-font-global;
  --primary-color: #{mylib.$primary-color};
}

html,
body {
  display: contents;
  scrollbar-width: thin;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

#app {
  width: 100%;
  height: 100%;
}
